.logcomment-form {
    /*max-width: 450px;*/
    background: #FAFAFA;
    padding: 30px;
    margin: 10px auto;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    /*border: 6px solid #305A72;*/
}

.logcomment-form ul{
    padding:0;
    margin:0;
    list-style:none;
}
.logcomment-form ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}

.logcomment-form ul li  .field-style label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.logcomment-form ul li  .field-style input,
.logcomment-form ul li  .field-style textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

    /*铺满*/
    width: 100%;
}

.logcomment-form ul li  .field-style--invalid label,
.logcomment-form ul li  .field-style--invalid p {
    /*color: red;*/
}

.logcomment-form ul li  .field-style--invalid input,
.logcomment-form ul li  .field-style--invalid textarea {
    /*border-color: red;*/
    /*background: #ffd1d1;*/
}

/*-------------*/
/*@reference: https://www.sanwebe.com/2014/08/css-html-forms-designs*/