/*.authentication__header {*/
/*    color: white;*/
/*    text-align: center;*/
/*}*/

.authentication {
    width: 90%;
    max-width: 25rem;
    margin: 6rem auto;
    text-align: center;
}

/*.authentication form {*/
/*    margin-bottom: 1rem;*/
/*}*/

.auth-form {
    max-width: 28rem;

    padding: 2.8rem;
    margin: 10px auto;

    border-radius: 11px;

}

.auth-form ul{
    padding:0;
    margin:0;
    list-style:none;
}
.auth-form ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}

.auth-form ul li  .field-style label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.auth-form ul li  .field-style input,
.auth-form ul li  .field-style textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;


    width: 100%;
}

.auth-form ul li  .field-style--invalid label,
.auth-form ul li  .field-style--invalid p {
    color: red;
}

.auth-form ul li  .field-style--invalid input,
.auth-form ul li  .field-style--invalid textarea {
    border-color: red;
    background: #ffd1d1;
}


