.content-box-header {
    min-height: 32px;
    font-size: 16px;
    background:#f5f5f5;
     background-image: linear-gradient(to bottom right,white, #FBFBFB,#F9F9F9, #F0F0F0,#ECECEC,#D9D9D9);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    padding:7px 13px;
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    border-right:2px solid #eee;
 }
 
 .content-box-header:after {
   clear:both;
 }


 .panel-heading>.panel-title, .content-box-header .panel-title {
    float: left;
    padding: 0 0;
    padding-top: 0px;
}

.panel-heading>.panel-title>*, .content-box-header .panel-title>* {
    margin: 0;
}

.panel-heading>.panel-title>span, .content-box-header .panel-title>span {
    font-weight: normal;
}

.panel-heading>.panel-options, .content-box-header .panel-options {
    float: right;
    padding-right:3px;
}

.panel-heading>.panel-options>a, .content-box-header .panel-options>a {
    margin-top: 10px;
}

.panel-options>a{
    color:#514D58;
    padding-right:2px;
}

.content-box, .content-box-large {
    margin-bottom:12px;
    background:#fff;
    border-radius:10px;
    padding:10px;
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    border-right:2px solid #eee;
    border-bottom:2px solid #eee; 
 }
 
 .content-box-large {
   padding: 14px;
 }

 .box-with-header {
    border-top: none;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
  }

  /*--------------------------*/
/*Beginning of Panel Items*/
/*--------------------------*/
.panel-item{
    width:90%;
    align:left;
}
.panel-item-title{
margin-left: 16px;
    width:45px;
}

/*End of Panel Items*/
.panel-setting{
    height:18px;
}


.panel-input{
    height:19px;
    width:65px;
    font-size:12px;
    border-top-left-radius:     0.3em;
    border-bottom-left-radius:  0.3em;
    margin-top: 1px;
    text-align: center;


}

.panel-btn{
    height:26px;
    font-size:12px;
    width:40px;
    padding:0px;
    background:linear-gradient(to top right, #E7E7E7, #D6D6D6, #C0C0C0, #DADADA);
}

.panel-btn:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0px 10px 18px 0 rgba(0,0,0,0.08);
}

.setting-select{
    margin:5px 0px 5px 0px;
}

.log-style{
    font-size:14px;
    line-height:12px;
}