.profile{
    background-color: white;
    height:0.2rem;
}

.avatar-box{
    margin: auto;
    text-align: center;
}

.avatar-bg{
    width: 100%;
}

.avatar{

    text-align: center;
    height: 5.5rem;
    width: 5.5rem;

    position:relative;
    top:0.2rem;
    bottom:0;
    left:0.2rem;
    right:0;
}

.username, .email{
    margin: auto;
    margin-left:-0.2rem;
}

.username{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-top:0.3rem;
}

.email{
    font-size: 0.8rem;
    color: lightgrey;

}

.move{
    margin-left: 0.4rem;
    margin-top: -2.9rem;
    z-index: 999;
}